
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link @Tickets.Website.Views.Shared.ManagePassengersPages.PassengersNavClass(ViewContext)" asp-action="Passengers" asp-controller="Home">Passengers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @Tickets.Website.Views.Shared.ManagePassengersPages.AddPassengerNavClass(ViewContext)" asp-action="AddPassenger" asp-controller="Home">Add passenger</a>
    </li>
</ul>