
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link @Tickets.Website.Views.Shared.ManageTicketsPages.CurrentTicketsNavClass(ViewContext)" asp-action="CurrentTickets" asp-controller="Home">Actual</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @Tickets.Website.Views.Shared.ManageTicketsPages.TicketsArchiveNavClass(ViewContext)" asp-action="TicketsArchive" asp-controller="Home">Archive</a>
    </li>
</ul>